#cloud-config
{% macro filtered_include(template) %}
{% include template %}
{% endmacro %}
  
write_files:
  - path: /etc/systemd/system/rtmp-hls.service
    permissions: 0644
    owner: root
    content: |
      [Unit]
      Description=Start the rtmp authentication server

      [Service]
      ExecStart=/usr/bin/docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc/rtmp-hls-server/:/etc/rtmp-hls-server/ -w /etc/rtmp-hls-server/ docker/compose:latest up
      ExecStop=/usr/bin/docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc/rtmp-hls-server/:/etc/rtmp-hls-server/ -w /etc/rtmp-hls-server/ docker/compose:latest down
  - path: /etc/rtmp-hls-server/nginx.conf
    permissions: '0660'
    encoding: b64
    content: {{ filtered_include('nginx.conf') | b64encode }}
  - path: /etc/rtmp-hls-server/docker-compose.yml
    permissions: '0660'
    encoding: b64
    content: {{ filtered_include('docker-compose.yml') | b64encode }}
  - path: /etc/rtmp-hls-server/player/index.html
    permissions: '0664'
    encoding: b64
    content: {{ filtered_include('player/index.html') | b64encode }}
  - path: /etc/rtmp-hls-server/player/manifest.webmanifest
    permissions: '0664'
    encoding: b64
    content: {{ filtered_include('player/manifest.webmanifest') | b64encode }}
  - path: /etc/rtmp-hls-server/.htpasswd
    permissions: '0660'
    content: "viewer:$apr1$iSGnjknG$vMVE.YBE1xydDU4sFX2WI1"

runcmd:
  - 'PUBLiSH_PW="$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/publish-password)"'
  - 'PLAY_PW="$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/play-password)"'
  - mkdir -p /etc/rtmp-hls-server/auth_config/publish /etc/rtmp-hls-server/auth_config/play
  - echo "$PUBLISH_PW" > /etc/rtmp-hls-server/auth_config/publish/password
  - echo "$PLAY_PW" > /etc/rtmp-hls-server/auth_config/play/password
  - systemctl daemon-reload
  - systemctl start rtmp-hls.service
  - while ! docker ps | grep rtmp-hls-server_rtmp-hls_1; do sleep 3; done
  - docker exec rtmp-hls-server_rtmp-hls_1 bash -c "chown nobody:nobody /.htpasswd"

bootcmd:
  - mkdir -p /mnt/disks/data
  - |
    mount -o discard,defaults /dev/disk/by-id/scsi-0Google_PersistentDisk_data /mnt/disks/data || {
      echo "data disk not formatted! Formatting now..."
      mkfs.ext4 /dev/disk/by-id/scsi-0Google_PersistentDisk_data
      mount -o discard,defaults /dev/disk/by-id/scsi-0Google_PersistentDisk_data /mnt/disks/data
    }
  
